body {
  /* background-color:black; */
}
.clock {
  background-color: black;
  margin: auto;
}

.clock > h1 {
    color: white;
    font-size: 200px;
}
.clock{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

